/* ==========================================================================
   btn / component
   ========================================================================== */

.btn {
    display: flex;
    align-items: center;

    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;

    padding: 8px 16px;
    border-radius: 100px;

    background-color: var(--color-primary);

    width: 255px;

    &:hover {
        background-color: var(--color-white);
        text-decoration: none;
    }

    .icon {
        font-size: 24px;
    }
}

.reactif {
    background-color: var(--color-white);

    &:hover {
        background-color: var(--color-black);
        text-decoration: none;
    }
}
