/* ==========================================================================
   hero / component
   ========================================================================== */

.hero {
    padding: 80px 110px;
    position: relative;
    height: 80vh;

    .wrapper {
        height: 100%;

        display: flex;
        align-items: flex-end;
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;

    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
