/* ==========================================================================
   labo / component
   ========================================================================== */

.labo {
    background-color: var(--color-black);
    padding: 80px 110px;

    h2 {
        color: var(--color-white);

        margin-bottom: 100px;

        span {
            color: rgb(255, 255, 255, 0.55);
        }
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @media (width <= $breakpoint-sm) {
            grid-template-columns: 1fr;
        }

        &:nth-child(even) {
            .card__content {
                order: -1;
                @media (width <= $breakpoint-sm) {
                    order: 1;
                }
            }
        }

        .card__content {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3 {
                color: var(--color-white);
                margin: 0;
            }

            p {
                color: var(--color-white);

                margin: 16px 0 24px;

                span {
                    color: rgb(255, 255, 255, 0.55);
                }
            }

            .note {
                font-size: var(--font-size-note);
                color: rgb(255, 255, 255, 0.55);

                margin: 24px 0 32px;
            }
        }

        .card__media {
            aspect-ratio: 595/490;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

                border-radius: 16px;
            }
        }
    }
}

@media (width <= $breakpoint-md) {
    .labo {
        padding: 60px 30px;
    }
}
